@import "./src/assets/constants/constants.scss";

.selctedElement {
  width: 25%;
  background-color: $bgWidgetColor;
  color: $textWidgetColor;
  height: 25px;
  margin-right: 25px;
  padding: 8px;
  line-height: 25px;
  display: flex;
  justify-content: space-between;

  .iconClose {
    font-size: 30px;
    cursor: pointer;

    &:hover {
      color: $buttonColor;
    }
  }
}